// Animations
@import "colors";

@keyframes stripe1 {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stripe2 {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stripe3 {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stripe4 {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stripe5 {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

// White overlay
@mixin overlay($transform) {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: $transform translate(0, 0);
    transform: $transform translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
