// colors
$color-white: #F7F7F7;
$color1: #244F75;
$color2: #60BFBF;
$color3: #8C4B7E;
$color4: #F8BB44;
$color5: #F24B4B;
$colors: $color1, $color2, $color3, $color4, $color5;


@for $i from 1 through length($colors) {
    .stripe:nth-child(#{length($colors)}n + #{$i}) {
        background: lighten(nth($colors, $i), 1%);
        animation-name: stripe#{$i};
    }
}
