// Colors

$color-white: #f7f7f7;

$bg-colors:
#244F75,
#60BFBF,
#8C4B7E,
#F8BB44,
#F24B4B,
;

@for $i from 1 through length($bg-colors) {
    .stripe-box:nth-child(#{length($bg-colors)}n+#{$i}) {
        background: lighten(nth($bg-colors, $i), 1%);
    }
}

// .allStripes {

//     .stripe-box {}
// }

@mixin easeOut {
    transition: all .6s cubic-bezier(0.23, 1, 0.32, 1);
}