// Colors
$color-white: #f7f7f7;

$color1 : #244F75;
$color2: #60BFBF;
$color3: #8C4B7E;
$color4: #F8BB44;
$color5: #F24B4B;

$bg-colors:
$color1,
$color2,
$color3,
$color4,
$color5,
;

@for $i from 1 through length($bg-colors) {
    .stripe-box:nth-child(#{length($bg-colors)}n+#{$i}) {
        background: lighten(nth($bg-colors, $i), 1%);
    }
}